* {
  outline: none; }

button:focus {
  display: none; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  margin: 0 auto;
  padding: 0.5em 0;
  font-family: "Fira Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.navbar .nav > li > a {
  padding: 15px;
  transition: all 0.5s ease; }

body {
  background-color: #ffffff; }

h1 {
  font-size: 48px;
  line-height: 66px;
  font-weight: 400; }

h2 {
  font-size: 34px;
  line-height: 44px;
  font-weight: 400; }

h3 {
  font-size: 20px;
  line-height: 33px;
  font-weight: 400; }

p,
li {
  color: #1f1ab2;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #282828; }

li {
  color: #1f1ab2;
  line-height: 32px; }

a {
  color: #92cafd;
  text-decoration: none;
  transition: all 0.5 ease; }

a:hover,
a:focus,
a:active {
  color: #c5e1f7;
  text-decoration: none; }

.row {
  margin: 0;
  padding: 0; }

.white_top_border {
  position: absolute;
  z-index: 3;
  top: 450px;
  right: 0; }

.active {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.hero_fg {
  width: 100%;
  position: absolute;
  display: block;
  top: 0;
  text-align: center;
  z-index: 9999; }

.hero_bg {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  z-index: 0; }

.hero_left,
.hero_right {
  width: 100%; }

.hero_left {
  background-color: #1f1ab2; }

.hero_right {
  background-color: #0c0874; }

.hero_bg img {
  height: 100%; }

.digital {
  background-color: #20a0e9; }

.exist {
  background-color: #ffffff; }

.portfolio_img, .portfolio {
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
  text-align: center;
  background-color: #ffffff; }

.portfolio {
  margin-top: 40px; }

.portfolio_img img, .portfolio img {
  width: 100%; }

.constrain img {
  width: 70%; }

.portfolio_copy h2 {
  font-weight: 400;
  color: #1f1ab2; }

.exist_copy h2 {
  font-weight: 400;
  color: #1f1ab2;
  padding: 0.5em 0 0 0; }

.portfolio_copy p {
  text-align: left;
  font-weight: 300;
  padding: 0;
  width: 60%; }

.portfolio_copy ul {
  padding-left: 40px;
  margin-left: 40px; }

.portfolio_copy li {
  text-align: left;
  font-weight: 300;
  padding: 0;
  width: 60%;
  padding-left: 40px;
  color: #282828; }

.portfolio_copy p a {
  color: #1f1ab2;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.portfolio_copy p a:hover {
  color: #08064b; }

.portfolio_copy h3 {
  color: #1f1ab2;
  font-weight: 400;
  padding: 0 0 0.5em 0; }

.portfolio .subtitles h3 {
  font-weight: 500; }

.colorPalette {
  display: inline-block; }

.colorPalette h3,
.colorPalette ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  vertical-align: middle;
  line-height: 10px; }

.colorPalette ul li {
  display: inline-block;
  padding: 0;
  margin-right: 14px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px; }

#et_05 {
  background-color: #69af53; }

#et_04 {
  background-color: #f6ae00; }

#et_03 {
  background-color: #ff5200; }

#et_02 {
  background-color: #1f3d55; }

#et_01 {
  background-color: #20a0e9; }

#exist_01 {
  background-color: #eaf1ae; }

#exist_02 {
  background-color: #bf5f16; }

#exist_03 {
  background-color: #905501; }

#exist_04 {
  background-color: #aebd9d; }

#exist_05 {
  background-color: #606860; }

#cocktail_01 {
  background-color: #7bb22d; }

#cocktail_02 {
  background-color: #ffe500; }

#cocktail_03 {
  background-color: #d93f23; }

#cocktail_04 {
  background-color: #d0006e; }

#cocktail_05 {
  background-color: #999999; }

.overlay {
  position: absolute;
  z-index: 5;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease; }

.pieces a img, .pieces_stack a img, .pieces_stack .item a img, .item a img, .pieces_stack .wide a img {
  width: 100%; }

.pieces, .pieces_stack, .pieces_stack .item, .item, .pieces_stack .wide {
  overflow: hidden;
  padding: 0; }

.item img {
  width: 100%; }

.blank {
  background-color: #92cafd;
  padding: 2.5px 5px;
  height: 220px;
  border-left: 5px solid #ffffff;
  border-right: 5px solid #ffffff; }

.hover_copy, .overlay .hover_copy h3,
.overlay_wide .hover_copy h3, .overlay .hover_copy p, .overlay_wide .hover_copy p {
  line-height: 0.5em;
  text-align: center;
  vertical-align: bottom;
  color: #ffffff;
  z-index: 5; }

.overlay .hover_copy, .overlay .hover_copy h3,
.overlay_wide .hover_copy .overlay h3, .overlay .hover_copy p, .overlay_wide .hover_copy .overlay p {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-top: 20%;
  z-index: 5; }

.overlay_wide .hover_copy, .overlay .hover_copy .overlay_wide h3,
.overlay_wide .hover_copy h3, .overlay .hover_copy .overlay_wide p, .overlay_wide .hover_copy p {
  padding-top: 10%; }

.overlay_vertical .hover_copy, .overlay_vertical .overlay .hover_copy h3, .overlay .hover_copy .overlay_vertical h3,
.overlay_vertical .overlay_wide .hover_copy h3,
.overlay_wide .hover_copy .overlay_vertical h3, .overlay_vertical .overlay .hover_copy p, .overlay .hover_copy .overlay_vertical p, .overlay_vertical .overlay_wide .hover_copy p, .overlay_wide .hover_copy .overlay_vertical p {
  padding-top: 45%; }

.overlay .hover_copy h3,
.overlay_wide .hover_copy .overlay h3 h3, .overlay_wide .hover_copy .overlay p h3,
.overlay_wide .hover_copy h3,
.overlay .hover_copy .overlay_wide h3 h3,
.overlay .hover_copy .overlay_wide p h3 {
  padding-top: 0;
  z-index: 6; }

.overlay .hover_copy p,
.overlay_wide .hover_copy .overlay h3 p, .overlay_wide .hover_copy .overlay p p {
  padding-top: 8%;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 1em;
  line-height: 1.5em; }

.overlay_wide .hover_copy p, .overlay .hover_copy .overlay_wide h3 p, .overlay .hover_copy .overlay_wide p p {
  padding-top: 4%; }

.overlay .hover_copy h3:hover,
.overlay_wide .hover_copy .overlay h3 h3:hover, .overlay_wide .hover_copy .overlay p h3:hover {
  color: #92cafd; }

.overlay:hover {
  opacity: 1; }

.overlay .background {
  position: relative;
  z-index: 4;
  width: 100%;
  height: 100%;
  background-color: #1f1ab2;
  opacity: 1; }

.light {
  font-weight: 300; }

.italic {
  font-style: italic; }

.semi {
  font-weight: 500; }

.book_regular {
  font-weight: 400; }

.title {
  border-bottom: 1px solid #282828;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 0;
  padding-bottom: 20px;
  font-size: 48px;
  width: 100%;
  text-align: left; }

.container {
  margin: 0;
  padding: 0;
  width: 100%; }

.vertical,
.vertical img {
  height: 100%; }

.body_cont {
  display: block;
  width: 80%;
  margin-top: 20px; }

.colors {
  margin: 10px 0;
  display: inline-block;
  padding: 20px;
  color: #ffffff; }

.navigation {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 999999999999;
  -webkit-box-shadow: 0px 0px 20px #0c0874;
  -moz-box-shadow: 0px 0px 20px #0c0874;
  box-shadow: 0px 0px 20px #0c0874; }

button {
  background-color: #ffffff;
  width: 24px;
  height: 24px;
  border: 2px solid #1f1ab2;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

button.active {
  background: url(img/assets/check.jpg) no-repeat;
  background-color: #1f1ab2; }

button:hover,
button:focus {
  background-color: #1f1ab2; }

.buttonSetup {
  width: 100%;
  display: block; }

.buttonSetup p {
  color: #282828; }

.footer {
  margin: 0 auto;
  background-color: #282828;
  color: #e6e7e8;
  text-align: center; }

.footer div {
  padding: 20px; }

.footer p {
  color: #e6e7e8; }

.navbar-default {
  background-color: #1f1ab2;
  border: 0;
  margin: 0 auto; }

.container-fluid {
  background-color: #1f1ab2;
  border: 0; }

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  font-size: 16px;
  font-weight: 400;
  color: #92cafd;
  line-height: 22px;
  text-shadow: none;
  text-transform: capitalize;
  transition: color 0.5s ease; }

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #dcecf7; }

.intro,
.hero_shot {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 465px;
  background-color: #1f1ab2; }

.intro img {
  margin: 0 auto;
  position: absolute;
  width: 200%;
  top: -250px; }

.dung_hero {
  position: absolute;
  z-index: 1;
  padding-left: 25%;
  width: 100%;
  height: 100%; }

.dung_hero h1 {
  color: #92cafd;
  font-weight: 500;
  text-align: left;
  padding-top: 30%;
  line-height: 0; }

.dung_hero.resume h1 {
  padding-top: 30%; }

.passage {
  margin: 0 auto;
  width: 80%;
  padding-top: 15%;
  background-color: #171399; }

.intro_passage {
  background-color: #171399; }

.passage h3 {
  font-weight: 300;
  text-rendering: optimizeLegibility;
  color: #c5e1f7; }

.passage p {
  position: absolute;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  color: #c5e1f7;
  width: 70%;
  z-index: 4; }

.resume_block {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 475px;
  z-index: 5; }

.resume_button {
  margin-top: 180px;
  padding-left: 70%; }

.corner_shape a {
  position: absolute;
  width: 500px;
  height: 500px;
  z-index: 1;
  transform: rotate(55deg); }

.corner_shape a {
  background-color: #0c0874; }

.corner_shape a:hover,
.corner_shape a:focus,
.corner_shape a:active {
  background-color: #08064b; }

#resume_button h3 {
  position: absolute;
  margin-left: 19%;
  margin-top: 50px;
  z-index: 2; }

#resume_button h3 a {
  color: #92cafd;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  text-decoration: none; }

#resume_button h3 a:hover,
#resume_button h3 a:active,
#resume_button h3 a:focus {
  color: #65a1d7; }

.white_border {
  background-color: #1f1ab2; }

.description {
  margin: 20px 0;
  background-color: #ffffff; }

.description img {
  margin: 0 auto;
  display: block; }

.description h2,
.description h3 {
  text-align: center;
  color: #1f1ab2;
  padding: 0; }

.description a {
  padding: 0; }

.description h3.semi {
  padding-top: 20px; }

.description h2 {
  padding-top: 30px; }

.categories {
  display: block;
  text-align: center;
  margin: 20px 0; }

.categories li {
  display: inline-block;
  padding: 0 10px; }

.categories button {
  margin: 0 10px; }

.bg_white {
  background-color: #ffffff; }

.section_wrap {
  margin-top: 40px; }

.body_row {
  padding: 0; }

.contact_icons {
  display: block;
  margin: 0;
  padding: 0 0 40px 0; }

.contact_icons img {
  display: inline-block;
  width: 38px; }

.contact_icons a {
  margin: 10px;
  padding: 10px;
  background-color: #282828;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  transition: background-color 0.5s ease; }

.contact_icons a:hover {
  background-color: #999999; }

.contact_left a {
  float: right; }

.contact_right a {
  float: left; }

.resume h3 {
  float: left;
  width: 60%;
  color: #ffffff; }

.skills {
  background-color: #c5e1f7; }

.education {
  background-color: #92cafd; }

.resume_spec {
  margin: 0 auto;
  padding: 80px 0;
  height: 750px; }

.resume_spec h3 {
  font-weight: 500;
  color: #0c0874;
  text-transform: uppercase; }

.skills > .right {
  padding-right: 80px;
  float: right; }

.education > .left {
  padding-left: 80px;
  float: left; }

.resume_list {
  width: 74%; }

.resume_list ul {
  margin: 0 auto;
  line-height: 60px; }
  .resume_list ul li {
    margin: 0 auto;
    padding: 5px 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    list-style: none; }
    .resume_list ul li ul li {
      padding: 0;
      margin-left: 20px;
      list-style: disc; }

.second_h3 {
  margin-top: 20px; }

.experience {
  background-color: #ffffff; }

.quote {
  margin: 0 auto;
  margin-top: 80px; }

.quote h2 {
  color: #1f1ab2;
  text-align: center; }

.exp_list {
  margin: 0 auto;
  padding-left: 12%;
  width: 80%;
  color: #0c0874; }

.exp {
  padding-left: 10%;
  width: 100%; }

.exp_list > .row {
  margin: 40px auto; }

.exp_list p {
  color: #0c0874; }

.exp_list h3 {
  color: #0c0874;
  padding: 0; }

.exp li {
  padding: 0;
  padding-bottom: 12px;
  font-weight: 300;
  line-height: 22px;
  color: #0c0874;
  list-style: none; }

.title_desc p {
  padding: 0; }

.experience {
  padding-bottom: 30px;
  border-bottom: 1px solid #c5e1f7; }

.inactive {
  background-color: #282828;
  opacity: 0.5; }

.null_obj {
  display: block;
  padding: 0;
  background-color: #000000; }

.imgObj {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

a .active {
  opacity: 0.25; }

@media screen and (max-width: 992px) {
  .white_border {
    display: none; } }
