//Dung's Sass/CSS file

//Color Palette
$primary: #1f1ab2
$primary_shade: #0c0874
$primary_shade_active: #08064b
$secondary: #92cafd
$secondary_tint: #c5e1f7
$secondary_shade: #65a1d7
$anchor_highlight: #dcecf7
$rich_grey: #282828 
$bg_white: #ffffff
$light_grey: #e6e7e8

//Typography

//family
$main_typeface: 'Fira Sans', sans-serif

//sizes
$h1_size: 48px
$h2_size: 34px
$h3_size: 20px
$paragraph: 16px

//leading
$h1_leading: 66px
$h2_leading: 44px
$h3_leading: 33px
$h3_leadingPlus: 44px
$paragraph_leading: 22px
//weights
$semi-bold: 500
$book_regular: 400
$light: 300

//Dimensions
$default_margin: 0 auto
$default_padding: 0

//Transition
$default_transition: all 0.5s ease

//CSS Assignments

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li
	margin: $default_margin
	padding: 0.5em 0
	font-family: $main_typeface
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

.navbar .nav>li>a
	padding: 15px
	transition: all 0.5s ease

body
	background-color: $rich_grey

h1
	font-size: $h1_size
	line-height: $h1_leading
	font-weight: $book_regular

h2
	font-size: $h2_size
	line-height: $h2_leading
	font-weight: $book_regular
h3
	font-size: $h3_size
	line-height: $h3_leading
	font-weight: $book_regular
p,
li
	color: $primary
	font-weight: $book_regular
	font-size: $paragraph
	line-height: $paragraph_leading
	color: $rich_grey

li
	color: $primary
	line-height: 32px

a
	color: $secondary
	text-decoration: none
	transition: all 0.5 ease

a:hover,
a:focus,
a:active
	color: $secondary_tint
	text-decoration: none

.row
	margin: 0 auto

.whale_blue_male
	color: $primary

.sample
	padding: 40px 0
	margin: 20px 0
	border-top: 1px solid $rich_grey
	border-bottom: 1px solid $rich_grey

.moreLeading
	line-height: $h3_leadingPlus

.light
	font-weight: $light

.italic
	font-style: italic

.semi
	font-weight: $semi-bold

.title
	border-bottom: 1px solid #282828
	margin-top: 40px
	margin-bottom: 40px
	margin-left: 0
	padding-bottom: 20px
	font-size: 48px
	width: 100%
	text-align: left

.container
	margin: $default_margin
	padding: $default_padding
	width: 100%

.body_cont
	display: block
	width: 80%
	margin-top: 20px

.colors
	margin: 0 auto
	margin: 10px 0
	display: inline-block
	padding: 20px
	color: #ffffff

.navigation
	padding: 0
	position: fixed
	width: 100%
	z-index: 999999999999
	box-shadow: 0px 0px 20px $primary_shade

#whale_blue_male
	background-color: $primary

#whale_blue_female
	background-color: $primary_shade

#jellyfish_blue
	background-color: $secondary

#silver_lake_blue
	background-color: $secondary_tint
#rich_grey
	background-color: $rich_grey

button
	background-color: #ffffff
	width: 24px
	height: 24px
	border: 2px solid $primary
	-webkit-border-radius: 15px
	-moz-border-radius: 15px
	border-radius: 15px
	transition: all 0.5s ease

button.active,
	background: url(img/assets/check.jpg) no-repeat
	background-color: $primary

button:hover,
button:focus
	background-color: $primary

.buttonSetup
	width: 100%
	display: block

.buttonSetup p
	color: $rich_grey

.leftButton
	display: inline-block
	text-align: center
	padding: 0 5% 0 0%

.rightButton
	display: inline-block
	text-align: center
	padding: 0 5% 0 0%

.footer
	margin: 0 auto
	background-color: $rich_grey
	color: $light_grey
	text-align: center

.footer div
	padding: 20px

.footer p
	color: $light_grey

.navbar-default
	background-color: $primary
	border: 0
	margin: 0 auto

.container-fluid
	background-color: $primary
	border: 0

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a
	font-size: $paragraph
	font-weight: $book_regular
	color: $secondary
	line-height: $paragraph_leading
	text-shadow: none
	text-transform: capitalize
	transition: color 0.5s ease

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus
	color: $anchor_highlight

.intro,
.hero_shot
	margin: 0 auto
	overflow: hidden
	height: 465px
	background-color: $primary
	padding: 0

.intro img
	margin: 0 auto
	position: absolute
	width: 200%
	top: -250px

.hero_fg
	width: 100%
	margin-top: 50px
	position: absolute
	display: block
	top: 0
	text-align: center
	z-index: 9999

.hero_bg
	position: absolute
	margin: 0 auto
	padding: 0
	width: 100%
	height: 100%
	overflow: hidden
	text-align: center
	z-index: 0

.hero_left,
.hero_right
	width: 100%

.hero_left
	background-color: $primary

.hero_right
	background-color: $primary_shade

.hero_bg img
	height: 100%

.dung_hero
	position: absolute
	z-index: 1
	padding-left: 25%
	width: 100%
	height: 100%

.dung_hero h1
	color: $secondary
	font-weight: $semi-bold
	text-align: left
	padding-top: 30%
	line-height: 0

.dung_hero.resume h1
	padding-top: 28%

.passage
	margin: 0 auto
	width: 80%
	padding-top: 15%
	background-color: #171399

.intro_passage
	background-color: #171399
.passage h3
	font-weight: $light
	text-rendering: optimizeLegibility	
	color: $secondary_tint

.passage p
	position: absolute
	font-weight: $light
	text-rendering: optimizeLegibility	
	color: $secondary_tint
	width: 70%
	z-index: 4

.resume_block
	display: block
	overflow: hidden
	width: 100%
	height: 475px
	z-index: 5

.resume_button
	margin-top: 180px
	padding-left: 70%

.corner_shape a
	position: absolute
	width: 500px
	height: 500px
	z-index: 1
	transform: rotate(55deg)

.corner_shape a
	background-color: $primary_shade

.corner_shape a:hover,
.corner_shape a:focus,
.corner_shape a:active
	background-color: $primary_shade_active

#resume_button h3
	position: absolute
	margin-left: 19%
	margin-top: 50px
	z-index: 2

#resume_button h3 a
	color: $secondary
	font-weight: $semi-bold
	text-rendering: optimizeLegibility
	text-decoration: none

#resume_button h3 a:hover,
#resume_button h3 a:active,
#resume_button h3 a:focus
	color: $secondary_shade

.white_border
	background-color: $primary

.description
	margin: 20px 0
	background-color: $bg_white

.description img
	margin: 0 auto
	display: block

.white_top_border
	position: absolute
	z-index: 3
	top: 450px
	right: 0

.description h2,
.description h3
	text-align: center
	color: $primary
	padding: 0

.description a
	padding: 0

.description h3.semi
	padding-top: 20px

.description h2
	padding-top: 30px


.categories
	display: block
	text-align: center
	margin: 20px 0

.categories li
	display: inline-block
	padding: 0 10px

.categories button
	margin: 0 10px

.bg_white
	background-color: $bg_white

.section_wrap
	margin-top: 40px

.body_row
	padding: 0

.pieces
	overflow: hidden
	padding: 0
	height: 320px

.pieces_stack
	overflow: hidden
	padding: 0

.pieces_stack .item
	overflow: hidden
	padding: 0

.item
	overflow: hidden
	height: 320px

.item img
	width: 100%
	height: 320px

.blank
	background-color: $secondary
	padding: 2.5px 5px
	height: 220px
	border-left: 5px solid #ffffff
	border-right: 5px solid #ffffff

.pieces_stack .wide
	overflow: hidden
	padding: 0
	height: 320px

.overlay
	position: absolute
	z-index: 5
	opacity: 0
	width: 100%
	height: 100%
	transition: all 0.5s ease

.pieces a img
	max-width: none

.overlay .hover_copy
	position: absolute
	height: 100%
	width: 100%
	padding-top: 28%
	z-index: 5

.overlay_wide .hover_copy
	padding-top: 14%

.overlay_vertical .hover_copy
	padding-top: 55%

.overlay .hover_copy h3,
.overlay .hover_copy p
	z-index: 5
	line-height: 0.5em
	text-align: center
	vertical-align: bottom
	color: $bg_white

.overlay .hover_copy h3:hover
	color: $secondary

.overlay:hover
	opacity: 1

.overlay .background
	position: relative
	z-index: 4
	width: 100%
	height: 100%
	background-color: $primary
	opacity: 1

.vertical
	height: 640px

.vertical img
	height: 640px

.contact_icons
	display: block
	margin: 0
	padding: 0 0 40px 0

.contact_icons img
	display: inline-block
	width: 38px

.contact_icons a
	margin: 10px
	padding: 10px
	background-color: $rich_grey
	border-radius: 30px
	-moz-border-radius: 30px
	-webkit-border-radius: 30px
	transition: background-color 0.5s ease

.contact_icons a:hover
	background-color: #000000

.contact_left a
	float: right

.contact_right a
	float: left

.resume h3
	float: left
	width: 60%
	color: $bg_white

.skills
	background-color: $secondary_tint

.education
	background-color: $secondary

.resume_spec
	margin: 0 auto
	padding: 80px 0
	height: 750px

.resume_spec h3
	font-weight: $semi-bold
	color: $primary_shade
	text-transform: uppercase

.skills>.right
	padding-right: 80px
	float: right

.education>.left
	padding-left: 80px
	float: left

.resume_list
	width: 74%

.resume_list ul
	margin: 0 auto
	line-height: 60px

.resume_list ul li
	margin: 0 auto
	padding: 5px 0
	font-weight: $light
	font-size: $paragraph
	line-height: $paragraph_leading
	list-style: none

.resume_list ul li ul li
	padding: 0
	padding-left: 20px
	list-style: disc

.second_h3
	margin-top: 20px

.experience
	background-color: $bg_white

.quote
	margin: 0 auto
	margin-top: 80px

.quote h2	
	color: $primary
	text-align: center

.exp_list
	margin: 0 auto
	padding-left: 12%
	width: 80%
	color: $primary_shade

.exp
	padding-left: 10%
	width: 100%

.exp_list>.row
	margin: 40px auto

.exp_list h3
	color: $primary_shade
	padding: 0

.exp_list p
	color: $primary_shade

.exp li
	padding: 0
	padding-bottom: 12px
	font-weight: $light
	line-height: $paragraph_leading
	color: $primary_shade
	list-style: none

.title_desc p
	padding: 0

.experience
	padding-bottom: 30px
	border-bottom: 1px solid $secondary_tint

.inactive
	background-color: $rich_grey
	opacity: 0.5

.null_obj
	display: block
	padding: 0
	background-color: #000000

.imgObj
	-webkit-transition: all 1s ease
	-moz-transition: all 1s ease
	-ms-transition: all 1s ease
	-o-transition: all 1s ease
	transition: all 1s ease

a .active
	opacity: 0.25

.portfolio
	margin: 0 auto
	padding: 0
	text-align: center
	background-color: $bg_white

.portfolio_copy
	margin-top: 40px

.portfolio_copy h1
	font-weight: $book_regular
	color: $primary

.portfolio_copy p
	text-align: left
	font-weight: $light
	padding: 0
	width: 50%

.portfolio_copy p a
	color: $primary
	transition: $default_transition

.portfolio_copy p a:hover
	color: $primary_shade_active
	
@media screen and(max-width:992px)
	.white_border
		display: none