//Dung's Sass/CSS file

//General Imports
@import variables
@import mixins
@import general

//Specific Imports
@import portfolio
@import collectionHover

//Project colors


//CSS Assignments

.navbar
	+borderRadius(0)

.navbar li
	padding: 0

.navbutton
	margin-right: 8%
	width: 60px

.navbar-default .navbar-toggle .icon-bar
	background-color: $secondary
.navbar-default .navbar-toggle:hover
	background-color: $primary_shade

.navbar-default .navbar-toggle
	border-color: $secondary

.light
	font-weight: $light

.italic
	font-style: italic

.semi
	font-weight: $semi-bold

.book_regular
	font-weight: $book_regular

.title
	border-bottom: 1px solid #282828
	margin-top: 40px
	margin-bottom: 40px
	margin-left: 0
	padding-bottom: 20px
	font-size: 48px
	width: 100%
	text-align: left

.container
	+freshStart(0)
	width: 100%

.vertical,
.vertical img
	height: 100%

.body_cont
	display: block
	width: 80%
	margin-top: 20px

.colors
	margin: 10px 0
	display: inline-block
	padding: 20px
	color: #ffffff

.navigation
	+freshStart(0)
	position: fixed
	width: 100%
	z-index: 999999999999
	+boxShadow(0px 0px 20px $primary_shade)

button
	background-color: #ffffff
	+perfectSquare(20px)
	border: 2px solid $primary
	+borderRadius(15px)
	+animateTrans($default_transition)

button.active,
	background: url(img/assets/check.jpg) no-repeat
	background-color: $primary

button:hover,
button:focus
	background-color: $primary

.buttonSetup
	width: 100%
	display: block

.buttonSetup p
	color: $rich_grey

.footer
	margin: 0 auto
	background-color: $rich_grey
	color: $light_grey
	text-align: center

.footer div
	padding: 20px

.footer p
	color: $light_grey

.navbar-default
	background-color: $primary
	border: 0
	margin: 0 auto

.container-fluid
	background-color: $primary
	border: 0

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a
	font-size: $paragraph
	font-weight: $book_regular
	color: $secondary
	line-height: $paragraph_leading
	text-shadow: none
	text-transform: capitalize
	transition: color 0.5s ease

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus
	color: $anchor_highlight

.intro,
.hero_shot
	+freshStart(0)
	overflow: hidden
	height: 465px
	background-color: $primary

.intro img
	margin: 0 auto
	position: absolute
	width: 200%
	top: -250px

.dung_hero
	position: absolute
	z-index: 1
	padding-left: 25%
	width: 100%
	height: 100%

.dung_hero h1
	color: $secondary
	font-weight: $semi-bold
	text-align: left
	padding-top: 30%
	line-height: 0

.passage
	margin: 0 auto
	width: 80%
	padding-top: 15%
	background-color: #171399

.intro_passage
	background-color: #171399

.passage h3
	font-weight: $light
	text-rendering: optimizeLegibility	
	color: $secondary_tint

.passage p
	position: absolute
	font-weight: $light
	text-rendering: optimizeLegibility	
	color: $secondary_tint
	width: 70%
	z-index: 4

.resume h3,
#passage h3,
#passage p
	opacity: 0
	transition: opacity 0.5s ease

.resume_block
	display: block
	overflow: hidden
	width: 100%
	height: 475px
	z-index: 5

.resume_button
	margin-top: 180px
	padding-left: 70%

.corner_shape a
	position: absolute
	width: 500px
	height: 500px
	z-index: 1
	transform: rotate(55deg)

.corner_shape a
	background-color: $primary_shade

.corner_shape a:hover,
.corner_shape a:focus,
.corner_shape a:active
	background-color: $primary_shade_active

#resume_button h3
	position: absolute
	margin-left: 19%
	margin-top: 50px
	z-index: 2

#resume_button h3 a
	color: $secondary
	font-weight: $semi-bold
	text-rendering: optimizeLegibility
	text-decoration: none

#resume_button h3 a:hover,
#resume_button h3 a:active,
#resume_button h3 a:focus
	color: $secondary_shade

.white_border
	background-color: $primary

.description
	margin: 20px 0
	background-color: $bg_white

.description img
	margin: 0 auto
	display: block

.description h2,
.description h3
	text-align: center
	color: $primary
	padding: 0

.description h3
	color: $rich_grey

.description a h3
	padding: 0
	color: $primary

.description h3.semi
	padding-top: 20px

.description h2
	padding-top: 30px


.categories
	display: block
	text-align: center
	margin: 20px 0

.categories li
	display: inline-block
	padding: 0 10px

.categories button
	margin: 0 10px

.bg_white
	background-color: $bg_white

.section_wrap
	margin-top: 40px

.body_row
	padding: 0

.contact_icons
	display: block
	margin: 0
	padding: 0 0 40px 0

.contact_icons img
	display: inline-block
	width: 38px

.contact_icons a
	margin: 10px
	padding: 10px
	background-color: $lessRichGrey
	+borderRadius(30px)
	transition: background-color 0.5s ease

.contact_icons a:hover
	background-color: $black

.contact_left a
	float: right

.contact_right a
	float: left

.resume h3
	float: left
	width: 60%
	color: $bg_white

.skills
	background-color: $secondary_tint

.education
	background-color: $secondary

.resume_spec
	margin: 0 auto
	padding: 80px 0
	height: 750px

.resume_spec h3
	font-weight: $semi-bold
	color: $primary_shade
	text-transform: uppercase

.skills>.right
	padding-right: 80px
	float: right

.education>.left
	padding-left: 80px
	float: left

.resume_list
	width: 74%

.resume_list ul
	margin: 0 auto
	line-height: 60px
	li
		margin: 0 auto
		padding: 5px 0
		font-weight: $light
		font-size: $paragraph
		line-height: $paragraph_leading
		list-style: none
		ul li
			padding: 0
			margin-left: 20px
			list-style: disc

.second_h3
	margin-top: 20px

.experience
	background-color: $bg_white

.quote
	margin: 0 auto
	margin-top: 80px

.quote h2	
	color: $primary
	text-align: center

.exp_list
	margin: 0 auto
	padding-left: 12%
	width: 80%
	color: $primary_shade

.exp
	padding-left: 10%
	width: 100%

.exp_list>.row
	margin: 40px auto

.exp_list p
	color: $primary_shade
	
.exp_list h3
	color: $primary_shade
	padding: 0

.exp li
	padding: 0
	padding-bottom: 12px
	font-weight: $light
	line-height: $paragraph_leading
	color: $primary_shade
	list-style: none

.title_desc p
	padding: 0

.experience
	padding-bottom: 30px
	border-bottom: 1px solid $secondary_tint

.inactive
	background-color: $rich_grey
	opacity: 0.5

.null_obj
	display: block
	padding: 0
	background-color: #000000

.imgObj
	+animateTrans(all 1s ease)

a .active
	opacity: 0.25

@media screen and(max-width: 1200px)
	.white_top_border
		top: 455px

@media screen and(max-width:992px)
	.white_border
		display: none

	.dung_hero
		padding: 0

	.dung_hero h1
		padding: 0
		padding-bottom: 80px
		text-align: center
		margin-top: 20%

	.resume h3
		margin: 0 auto
		padding: 0 25%
		width: 100%

	#resume_button h3
		margin-left: 16%

	.intro img
		top: -380px

	.resume_button
		margin-top: 160px
		padding-left: 75%

	.skills > .right
		float: left
		padding-left: 80px
		padding-right: 0

	.exp_list
		padding-left: 0

	.exp
		padding-top: 14px

	.resume_spec
		height: 640px

	.passage
		padding-top: 10%

	.vertical
		height: 400px

	.vertical img
		margin-top: -450px

	.overlay_vertical .hover_copy
		padding-top: 18%

	.overlay_vertical .hover_copy p
		padding-top: 2%

	.cat_filter
		display: none

	.portfolio_copy p
		width: 80%
		
@media screen and(max-width:768px)
	body
		padding: 0
	.navbar-collapse
		+boxShadow(inset 0 0 0 0)
	.navbar .nav
		width: 50%
		margin: 0 auto
		float: none

	.navbar-toggle
		padding: 9px 17px

	.overlay
		height: 140px
		opacity: 1
		margin-top: 38%

	.overlay .hover_copy
		margin-top: 3%
		padding-top: 0

	.overlay .hover_copy p
		padding-top: 16px
	.hover_copy
		color: $primary
	.overlay .background
		background-color: $bg_white
	.intro img
		top: -300px
	.vertical
		height: 416px
	.vertical img
		margin-top: -360px
	.wide
		height: 400px
	#wide_mobile
		margin-left: -200px
		height: 320px
		width: 1138px
		max-width: 1138px
	button
		height: 100%
	.navbar-default .navbar-collapse
		border-color: $primary_shade_active

@media screen and (max-width: 660px)
	.wide,
	.vertical
		height: 360px
	.intro img
		top: -240px
	.intro, .hero_shot
		background-color: rgba(255,255,255,0)
	.intro_passage
		height: 100%
		top: -350px
		background-color: rgba(255,255,255,0)
	.passage
		height: 4%
		background-color: rgba(255,255,255,0)
	.passage p
		display: none
	.resume_block
		display: none
	.mobile-passage
		height: 460px
	.portfolio_copy p
		width: 80%
	.portfolio_copy ul
		padding-left: 0
	.hero_shot
		width: 100%
		height: 360px
	.hero_fg img
		width: 100%
		margin: 0 auto
	.navbar .nav
		width: 100%
	.navbar .nav ul
		width: 100%
		display: inline-block
	.navbar .nav li
		float: none
		width: 100%
		text-align: center
		border-bottom: 1px solid $primary_shade_active

@media screen and (max-width:440px)
	.overlay
		height: 180px
	.intro img
		top: -180px
	.wide
		height: 260px
	.vertical img
		margin-top: -200px
	.vertical
		height: 100%
	.null_obj
		height: 240px
	.vertical>.null_obj
		height: 100%
	.hero_shot
		height: 160px